@import "bootstrap.less";
@import "variables.less";

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'), url('http://64424.selcdn.ru/webfont/osans/opensans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'), url('http://64424.selcdn.ru/webfont/osans/opensans-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('http://64424.selcdn.ru/webfont/osans/opensans-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('http://64424.selcdn.ru/webfont/osans/opensans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url('http://64424.selcdn.ru/webfont/roboto/robotoslab-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url('http://64424.selcdn.ru/webfont/roboto/robotoslab-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}



h1 {
  font-family: 'Roboto';
  font-size: 36px;
  text-transform: uppercase;
  margin: 40px 0;
}
h2 {
   font-size: 24px;
   font-weight: 300;
   text-transform: uppercase;
  margin: 30px 0;
 }
p {
  margin: 20px 0;
}
a {
  &:hover {
    .transition(color 0.7s ease 0s);
  }
  &:focus {
    outline: 0 none!important;
  }
}
.btn {
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
  &:hover {
    -webkit-transition: background 0.7s ease 0s,
    border 0.7s ease 0s;
    -moz-transition: background 0.7s ease 0s,
    border 0.7s ease 0s;
    -o-transition: background 0.7s ease 0s,
    border 0.7s ease 0s;
    transition: background 0.7s ease 0s,
    border 0.7s ease 0s;
  }
  &:focus {
    outline: 0 none!important;
    .box-shadow(none);
  }
}
.link-border {
  text-decoration: none;
  border-bottom: 1px solid;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
header {
  padding: 20px 0 0;
  .tel {
    a {
      color: #3c3c3b;
      font-size: 18px;
      font-weight: 600;
      text-decoration: none;
      span {
        color: #b2b2b2;
      }
      i {
        margin-right: 10px;
      }
    }
  }
}
@media (max-width: @screen-xs-max) {
  header {
    padding-bottom: 20px;
  }
}
nav {
  //background: #ededed;
  background: #ededed linear-gradient(to bottom, #ededed 0%, #fff 10%)!important;
}
.info-section {
  background: url(../images/texture3.png) repeat;
  padding: 17px 0;
}
section.actual {
  background: url(../images/texture1.png) repeat;
}
.catalog {
  padding: 65px 0 45px;
  h2 {
    text-align: center;
    margin-bottom: 58px;
  }
}
.about {
  background: url(../images/texture4.png) repeat-x left top;
  padding: 50px 0 80px;
  h2 {
    text-align: center;
    margin-bottom: 50px;
  }
}
footer {
  background: url(../images/texture2.png) repeat-x left top,
              @brand-info;
  padding: 90px 0 30px;
}
@media (min-width: @screen-sm-min) {
  nav {
    background: linear-gradient(to bottom, #ededed 0%, #fff 20%)!important;
  }
  footer {
    padding: 105px 0 30px;
  }
}
@media (min-width: @screen-md-min) {
  footer {
    padding: 120px 0 30px;
  }
}
.slogan {
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0 25px;
}
.contacts {
  margin-bottom: 30px;
}
.contacts-title {
  color: #3c3c3b;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 6px;
}
.call {
  a {
    font-size: 12px;
    font-weight: 600;
  }
}
.cart-title {
  color: #3c3c3b;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
  i {
    color: @brand-primary;
    margin-right: 10px;
  }
}
.cart-info {
  font-size: 12px;
  color: #3c3c3b;
  font-weight: 300;
  span {
    font-weight: 600;
  }
}
.cart-link {
  margin-top: 10px;
}
.cart-btn {
  margin-top: 15px;
  button {
    font-size: 12px;
    font-weight: 600;
  }
}
@media (min-width: @screen-sm-min) {
  .cart {
    margin-top: 6px;
  }
}
@media (min-width: @screen-md-min) {
  header {
    .tel {
      margin-bottom: 17px;
    }
  }
  .cart {
    margin-top: 0;
  }
}
.navbar {
  position: static;
  min-height: auto;
}
.navbar-nav {
  li {
    a {
      font-size: 18px;
      font-weight: 300;
      text-decoration: none;
      span {
        border-bottom: 1px solid @brand-primary;
      }
    }
  }
}
.main-nav {
  .navbar-toggle {
    position: absolute;
    top: 200px;
    right: 20px;
  }
}
.navbar-collapse {
  .search {
    margin: 20px 0 30px;
  }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .navbar-nav {
    padding-top: 15px;
    width: 100%;
    text-align: justify;
    overflow: hidden;
    cursor: default;
    &:after {
      content: "1";
      margin-left: 100%;
      height: 1px;
      overflow: hidden;
      display: inline-block;
    }
    li {
      display: inline;
      float: none;
      a {
        display: inline-block;
        padding: 0;
      }
    }
  }
}
@media (min-width: @screen-sm-min) {
  .main-nav {
    .navbar-toggle {
      top: -5px;
    }
  }
  .navbar-nav {
    li {
      a {
        font-size: 16px;
      }
    }
  }
}
@media (min-width: @screen-md-min) {
  .navbar {
    position: relative;
  }
  .navbar-nav {
    li {
      a {
        font-size: 18px;
      }
    }
    li.dropdown {
      position: static;
      background: @brand-primary;
      a {
        color: #fff;
        i {
          font-size: 22px;
          margin-left: 15px;
          vertical-align: middle;
        }
      }
    }
  }
}
@media (min-width: @screen-lg-min) {
  .navbar-nav {
    li {
      a {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
}
.dropdown-menu {
  background: @brand-primary;
  width: 100%;
  padding: 30px 0;
  ul {
    li {
      margin-bottom: 10px;
      a {
        font-size: 14px;
        color: #fff;
        &:hover, &:focus {
          color: #fff;
        }
      }
    }
  }
}
.navbar-default .navbar-nav > li.dropdown > a:hover,
.navbar-default .navbar-nav > li.dropdown > a:focus {
  color: #fff;
}
.catalog-nav {
  .navbar-header {
    background: @brand-primary;
    text-align: center;
    .navbar-toggle {
      color: #fff;
      font-size: 18px;
      float: none;
      margin: 15px 0;
      i {
        font-size: 22px;
        margin-left: 15px;
        vertical-align: middle;
      }
    }
  }
  .navbar-collapse {
    background: @brand-primary;
    padding-bottom: 30px;
    ul {
      margin-bottom: 0;
      li {
        margin-bottom: 10px;
        a {
          color: #fff;
        }
      }
    }

  }
}
.info-section-item {
  color: @brand-info;
  font-family: 'Roboto';
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 60px;
  height: 50px;
  max-width: 345px;
  margin-bottom: 20px;
  margin-left: 15px;
  &:first-child {
    background: url(../images/car.png) no-repeat left center;
  }
  &:last-child {
    background: url(../images/money.png) no-repeat left center;
  }
}
.search-form {
  .form-group {
    float: left;
    width: 100%;
  }
  .form-control {
    border: 1px solid #dbd5d4;
  }
  button {
    background: @brand-info;
    height: 34px;
    width: 34px;
    border: 0 none;
    vertical-align: middle;
    margin-left: -35px;
    i {
      color: #fff;
      font-size: 18px;
    }
  }
}
@media (min-width: @screen-sm-min) {
  .search-form {
    .form-group {
      width: 435px!important;
    }
  }
}
@media (min-width: @screen-md-min) {
  .info-section-item {
    max-width: 290px;
  }
  .search-form {
    .form-group {
      width: 100%!important;
    }
  }
}
@media (min-width: @screen-lg-min) {
  .info-section-item {
    max-width: 345px;
    margin-bottom: 0;
  }
}
.actual {
  .carousel-control {
    background: #ece4d8;
    height: 46px;
    top: 20%;
    span {
      display: block;
      width: 17px;
      height: 34px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -17px;
      margin-left: -9px;
    }
  }
  .prev {
    background: url(../images/prev.png) no-repeat;
  }
  .next {
    background: url(../images/next.png) no-repeat;
  }
  .carousel-caption {
    height: 306px;
    background: @brand-info;
    font-family: 'Roboto';
    .tile-title {
      font-size: 18px;
    }
    hr {
      width: 46px;
      height: 2px;
    }
    .tile-price {
      font-size: 40px;
      margin: 40px 0;
      span {
        font-size: 20px;
      }
    }
    a {
      color: #fff;
    }
  }
}
@media (min-width: @screen-sm-min) {
  .actual {
    .carousel-control {
      top: 50%;
      margin-top: -23px;
    }
    .carousel-caption {
      background: rgba(111, 86, 83, 0.85);
      position: absolute;
      bottom: 40px;
      right: 15%;
      width: 306px;
      height: 306px;
      padding: 10px;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      .tile-title {
        width: 200px;
        margin: 0 auto;
      }
      .tile-price {
        margin: 20px 0 15px;
      }
    }
    .carousel-caption-border {
      border: 1px solid #fff;
      height: 286px;
    }
    .carousel-caption-content {
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(-45deg);
      padding-top: 35px;
      margin-left: -10px;
    }
  }
}
@media (min-width: @screen-md-min) {
  .actual {
    .carousel-caption {
      width: 406px;
      height: 406px;
    }
    .carousel-caption-border {
      height: 386px;
    }
    .carousel-caption-content {
      padding-top: 100px;
      margin-left: -80px;
    }
  }
}
.catalog-item {
  width: 162px;
  margin: 0 auto 15px;
  img {
    margin-bottom: 15px;
  }
}
.catalog-item-title {
  height: 40px;
  text-align: center;
  a {
    color: #3c3c3b;
    font-family: 'Roboto';
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
  }
}
@media (min-width: @screen-sm-min) {
  .catalog-item {
    margin-bottom: 45px;
  }
}
.footer-group-title {
  margin-bottom: 35px;
  a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
  }
}
.footer-menu {
  padding-bottom: 35px;
  ul {
    margin-bottom: 45px;
    li {
      margin-bottom: 18px;
      a {
        color: #fff;
        font-weight: 300;
        text-decoration: none;
      }
    }
  }
}
.footer-contacts {
  border-top: 1px solid #fff;
  padding-top: 35px;
}
.footer-contacts, .footer-contacts a {
  color: @brand-success;
}
.footer-contacts-title {
  font-size: 12px;
  font-weight: 300;
}
.footer-tel {
  a {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
  }
}
.footer-address {
  font-weight: 300;
  margin: 20px 0 27px;
}
.question-btn {
  font-size: 12px;
  font-weight: 600;
}
.footer-create {
  font-weight: 300;
  margin-top: 70px;
}
@media (max-width: @screen-xs-max) {
  .footer-menu {
    ul {
      height: 210px;
    }
  }
  .footer-contacts {
    margin-top: -105px;
  }
}
@media (min-width: @screen-sm-min) {
  .footer-address {
    margin: 0;
  }
}
@media (min-width: @screen-md-min) {
  .footer-menu {
    padding-bottom: 0;
  }
  .footer-contacts {
    border-top: none;
    padding-top: 0;
  }
  .footer-address {
    margin: 20px 0 27px;
  }
}
.inner {
  padding: 25px 0 65px;
}
@media (min-width: @screen-sm-min) {
  .inner {
    padding: 32px 0 65px;
  }
}
.breadcrumb {
  li {
    a {
      color: @text-color;
      font-weight: 700;
    }
  }
}
.inner {
  .actual {
    margin-bottom: 20px;
  }
}
@media (min-width: @screen-sm-min) {
  .main-content {
    .actual {
      .carousel-img {
        float: left;
        width: 67%;
        height: 230px;
      }
      .carousel-caption {
        float: left;
        width: 33%;
        height: 230px;
        -moz-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
        position: static;
      }
      .carousel-caption-content {
        -moz-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
        transform: none;
      }
      hr {
        margin: 10px auto;
      }
      .tile-price {
        margin: 10px 0;
      }
      .carousel-control.right {
        right: 33%;
      }
    }
  }
}
.product-item {
  padding: 20px 0;
  border-bottom: 1px solid #f1f1f1;
  height: 540px;
}
.product-name {
  color: #3c3c3b;
  font-family: 'Roboto';
  text-transform: uppercase;
  margin-bottom: 13px;
}
.product-brand {
  color: #b2b2b2;
  font-family: 'Roboto';
  margin-bottom: 26px;
}
.product-price {
  color: @brand-info;
  font-family: 'Roboto';
  font-size: 24px;
  margin-bottom: 28px;
  span {
    font-size: 14px;
  }
}
@media (min-width: @screen-sm-min) {
  .product-item {
    padding-bottom: 36px;
  }
  .product-img {
    margin-bottom: 25px;
  }
  .product-description {
    text-align: center;
  }
}
@media (min-width: @screen-md-min) {
  .product-list {
    margin-top: 30px;
  }
}
.pagination {
  li {
    a {
      margin-right: 10px;

    }
    &:first-child {
      a {
        border: none;
      }
    }
    &:last-child {
      a {
        border: none;
      }
    }
  }
}
.select-result-blok {
  width: 200px;
  padding: 10px;
  text-align: center;
  color: #fff;
  background: rgba(111, 86, 83, 0.7);
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 9000;
  &:before {
    content: '';
    width: 0;
    height: 0;
    right: 100%;
    top: 50%;
    margin-top: -8px;
    position: absolute;
    border-top: 8px solid transparent;
    border-right: 8px solid rgba(111, 86, 83, 0.7);
    border-bottom: 8px solid transparent;
  }
  a {
    color: #fff;
    font-style: italic;
  }
}
.select-col {
  .select-form {
    box-shadow: 1px -1px 10px 2px #e1e1e1;
  }
}
.select-form {
  padding: 30px 0;
  button {
    width: 100%;
    max-width: 300px;
  }
  .show-btn {
    text-transform: uppercase;
    margin-top: 30px;
  }
}
.select-form-btn {
  padding: 0 20px;
  text-align: center;
}
.select-item {
  padding: 28px 20px;
  border-bottom: 1px solid #f1f1f1;
}
.select-item-head {
  cursor: pointer;
  position: relative;
  .select-item-title {
    color: @text-color;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
}
.select-state {
  position: absolute;
  top: 0;
  right: 0;
  width: 19px;
  height: 18px;
}
.select-point-close {
  background: url(../images/up.png) no-repeat;
}
.select-point-open {
  background: url(../images/down.png) no-repeat;
}
.select-price {
  margin-bottom: 10px;
  input {
    float: left;
    width: 68px;
    font-size: 12px;
    color: @text-color;
  }
  span {
    float: left;
    width: 20px;
    margin: 0 8px;
    text-align: center;
    position: relative;
    top: 5px;
  }
}
.select-item-body {
  position: relative;
  margin-top: 23px;
  .checkbox {
    span {
      color: #c6c6c6;
    }
  }
}
.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
  border-radius: 0;
}

.flat-slider.ui-slider {
  border: 0;
  background: #c6c6c6;
  border-radius: 0px;
  position: relative;
}

.flat-slider.ui-slider-horizontal {
  height: 10px;
}
.flat-slider .ui-slider-handle {
  width: 18px;
  height: 18px;
  background: #fff;
  border: none;
  box-shadow: 0 0 2px 1px #999;
  border-radius: 50%;
  cursor: pointer;
}
.flat-slider.ui-slider-horizontal .ui-slider-handle {
  position: absolute;
  top: 50%;
  margin-top: -9px;
}
.flat-slider .ui-slider-range {
  border: 0;
  border-radius: 0;
  background: #6f5653;
}
.flat-slider.ui-slider-horizontal .ui-slider-range {
  position: absolute;
  top: 0;
  height: 10px;
  margin-left: 2px;
}
.select-block {
  .tab-content {
    padding: 20px 0 25px;
    box-shadow: 1px -1px 10px 2px #e1e1e1;
  }
  .filter-block {
    div {
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
@media (min-width: @screen-sm-min) {
  .filter-block {
    div {
      display: inline-block;
    }
  }
}
.filter-block {
  text-transform: uppercase;
  span.product-select-title {
    color: #b2b2b2;
  }
  a {
    display: inline-block;
    color: #3c3c3b;
    text-decoration: none;
    border-bottom: 1px dashed #d5d5d5;
  }
  a.filter-active {
    background: #f6f6f6;
    border-radius: 10px;
    padding: 5px 8px;
    color: @brand-primary;
    border-bottom: none;
  }
  a.filter-active {
    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      margin-left: 5px;
      position: relative;
      top: -3px;
    }
  }
  a.filter-up {
    &:after {
      border-bottom: 5px solid @brand-primary;
    }
  }
  a.filter-down {
    &:after {
      border-top: 5px solid @brand-primary;
    }
  }
}
.select-block-filter {
  a, span.select-block-filter-link {
    color: @text-color;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    i {
      color: @brand-primary;
      margin-right: 10px;
    }
    span {
      border-bottom: 1px dashed @text-color;
    }
  }
  span.select-block-filter-link {
    cursor: pointer;
  }
}
@media (max-width: @screen-xs-max) {
  .select-block {
    .nav-tabs {
      li {
        width: 50%;
        text-align: center;
        a {
          color: @text-color;
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none;
          span {
            border-bottom: 1px dashed @text-color;
          }
          i {
            color: @brand-primary;
            margin-right: 10px;
          }
          &:hover, &:focus {
            background: transparent;
            border-color: transparent;
          }
        }
      }
      li.active {
        a {
          box-shadow: 1px -1px 7px 2px #e1e1e1;
          span {
            border-bottom: none;
          }
        }
      }
    }
  }
}
@media (min-width: @screen-sm-min) {
  .select-block {
    padding: 15px 0;
    .nav-tabs {
      li:first-child {
        width: 20%;
      }
      li:last-child {
        width: 80%;
      }
    }
  }
  .filter-block {
    span, a {
      margin-right: 8px;
    }
  }
}
@media (min-width: @screen-md-min) {
  .filter-block {
    span, a {
      margin-right: 40px;
    }
  }
}
.product-main-content {
  background: #f6f6f6;
  padding: 35px 0 50px;
}
.product-main-content-img {
  margin-bottom: 25px;
  .main-img {
    margin-bottom: 10px;
  }
  .secondary-img {
    float: left;
    width: 118px;
    margin: 0 10px 10px 0;
    border: 2px solid transparent;
  }
  .active-img {
    border: 2px solid @brand-primary;
  }
}
@media (min-width: @screen-md-min) {
  .product-main-content-img {
    .main-img {
      float: left;
      width: 373px;
      margin-right: 10px;
    }
    .secondary-img {
      margin-bottom: 10px;
    }
  }
}
.product-char {
  dl {
    border-bottom: 1px dashed #e5e5e5;
    margin-bottom: 25px;
    dt {
      float: left;
      width: 150px;
      color: #b2b2b2;
      font-weight: 400;
      text-transform: uppercase;
      text-align: left;
      border-top: 1px dashed #e5e5e5;
      padding-top: 10px;
    }
    dd {
      margin-left: 150px;
      border-top: 1px dashed #e5e5e5;
      padding: 10px 0;
    }
  }
}
.consult-btn {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
}
@media (min-width: @screen-sm-min) {
  .product-main-content {
    padding: 50px 0;
  }
  .consult-btn {
    margin-top: 20px;
  }
}
@media (min-width: @screen-md-min) {
  .product-char {
    dl {
      dt {
        width: 215px;
      }
      dd {
        margin-left: 215px;
      }
    }
  }
}
.product-select {
  padding: 35px 0 25px;
  .filter-block {
    span {
      margin-right: 10px;
    }
    span {
      border-bottom: 1px dashed #d5d5d5;
    }
    span.product-select-title {
      border-bottom: none;
    }
    span.product-select-active {
      background: #f6f6f6;
      border-radius: 20px;
      padding: 5px 25px;
      color: @brand-primary;
      border-bottom: none;
      a {
        border-bottom: none;
        margin-right: 0;
      }
      .delete {
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url(../images/delete.png) no-repeat;
        margin-left: 10px;
      }
    }
  }
}
.collection-section {
  margin-bottom: 45px;
  h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}
.collection-list {
  border-top: 2px solid @brand-primary;
}
@media (min-width: @screen-sm-min) {
  .product-select {
    .filter-block {
      span, a {
        margin-right: 20px;
      }
    }
  }
  .select-block {
    .row {
      position: relative;
    }
  }
  .filter-block-sm {
    position: absolute;
    top: 0;
    right: 0;
  }
  .collection-list {
    padding-top: 30px;
  }
}
.collection-item {
  padding: 30px 0;
  height: auto;
  .collection-item-name {
    height: 40px;
    overflow: hidden;
  }
}
.collection-item-info {
  div {
    font-family: 'Roboto';
  }
}
.select-number-form {
  input {
    display: inline;
    width: 70px;
    margin-right: 15px;
    color: #1b1b1d;
  }
  span {
    white-space: nowrap;
  }
}
.collection-item-name {
  color: #3c3c3b;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.collection-item-size {
  color: #b2b2b2;
  margin-bottom: 22px;
}
.collection-item-price {
  color: @brand-info;
  font-size: 24px;
  margin-bottom: 20px;
  span {
    font-size: 14px;
  }
}
.to-cart {
  margin-top: 10px;
  i {
    margin-right: 10px;
  }
}
@media (max-width: @screen-xs-max) {
  .collection-item {
    border-bottom: 1px solid #f1f1f1;
    &:last-child {
      border-bottom: none;
    }
  }
}
@media (min-width: @screen-sm-min) {
  .collection-item {
    border: 1px solid #f1f1f1;
  }
  .collection-item-info {
    div {
      text-align: center;
    }
    form {
      text-align: center;
    }
  }
  .collection-item-img {
    margin-bottom: 25px;
    height: 261px;
  }
  .collection-item-size {
    margin-bottom: 35px;
  }
  .collection-item-price {
    margin-bottom: 35px;
  }
}
@media (min-width: @screen-md-min) {
  .product-select {
    .filter-block {
      span, a {
        margin-right: 25px;
      }
    }
  }
  .collection-list {
    padding-top: 40px;
  }
}
.cart-list {
  margin-bottom: 20px;
  tr {
    border-bottom: 1px solid #f1f1f1;
    &:last-child {
      border-bottom: none;
    }
    th {
      color: #878787;
      font-weight: 400;
      text-transform: uppercase;
      padding: 15px 0;
      text-align: center;
    }
    td {
      padding: 35px 15px;
      vertical-align: top;
      &.cart-col-21 {
        width: 45%;
      }
      &.cart-col-2 {
        width: 20%;
      }
      &.cart-col-3 {
        width: 22%;
      }
      &.cart-col-4 {
        width: 16%;
        text-align: right;
      }
    }
  }
  dl {
    dt {
      text-align: left;
    }
  }
}
.collection-item-name {
  font-family: 'Roboto';
}
dl {
  color: #3c3c3b;
  dt {
    font-weight: 400;
    text-align: left;
  }
  dd {
    margin-bottom: 8px;
  }
}
.cart-price {
  color: #9d9d9c;
  font-family: 'Roboto';
  font-size: 18px;
  span {
    color: @text-color;
    font-size: 24px;
    white-space: nowrap;
  }
}
.cart-remove-link {
  color: @brand-info;
  font-style: italic;
  text-decoration: none;
  line-height: 2.5;
  &:hover, &:focus, &:active {
    color: @brand-info;
    text-decoration: none;
  }
  span {
    border-bottom: 1px dashed @brand-info;
  }
}
.cart-remove {
  i {
    color: @brand-info;
    font-size: 22px;
    margin-left: 10px;
    vertical-align: middle;
  }
}
.cart-total-sum {
  font-family: 'Roboto';
  text-align: right;
  padding-top: 20px;
  span {
    color: @brand-primary;
    font-size: 36px;
    margin-left: 10px;
  }
}
.cart-list tr td.cart-price,
.cart-list tr td.cart-total-sum {
  vertical-align: baseline;
}
.cart-list-mob {
  border-top: 1px solid #f1f1f1;
  margin-bottom: 40px;
  .cart-price {
    margin-bottom: 15px;
  }
}
.cart-list-mob-item {
  padding: 30px 0;
  border-bottom: 1px solid #f1f1f1;
}
.order-form {
  label {
    font-weight: 400;
  }
  input, textarea {
    color: @text-color;
    font-family: 'Roboto';
  }
}
@media (min-width: @screen-sm-min) {
  .order {
    padding: 10px 45px 40px;
    border: 1px solid #f1f1f1;
  }
  .cart-list {
    tr {
      td {
        img {
          width: 85px;
        }
      }
    }
  }
}
@media (min-width: @screen-md-min) {
  .cart-list {
    tr {
      td {
        &.cart-col-1 {
          width: 52%;
        }
        &.cart-col-2 {
          width: 15%;
        }
        &.cart-col-3 {
          width: 19%;
        }
        &.cart-col-4 {
          width: 14%;
        }
        img {
          width: auto;
        }
      }
    }
  }
}
.modal-content {
  padding: 20px;
}
.modal-footer {
  text-align: left;
}